.adminToobar{
    display: inline-block;
    width: 100%;
    background-color: rgb(60,179,113);;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;

    ul, li {
        list-style-type: none;
        margin: 0 auto;
        padding: 0 ;
    }
    ul {
        float: right;
        li {
            display: inline-block;

            a {
                display: block;
                font-size: 1.6rem;
                line-height: 1;
                color: white;
                padding: 10px;
                transition: all .4s ease-in-out;

                &:hover{
                    
                    color: yellow;
                    transition: all .4s ease-in-out;
                }


            }
        }
    }
}