.footer{
    
    .wrap{
        max-width: 3450px;
        background-color: white;
        display: block;
        float: center;
        color: rgb(163, 13, 163);
        text-align:center;

       
    }
}